<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Frist NASA-SPA</title>

    <script src="./vue.js"></script>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
      <nav>

       <span>
        {{message}}
       </span>
       {{info.length}}
       <input type="date" v-model="newdate" class="newdate" v-on:change="Getdata(newdate)">
        
      </nav>
        
        <div v-for="info in info" :key="info.img" class="polaroid">
            
            <img :src="info.img_src" alt="Nasa img" class="Imgsize">
            <div class="content">
                <p>Rover_name: {{info.rover.name}}</p>
                <p>landing date: {{info.rover.landing_date}} </p>
                <p>launch date: {{info.rover.launch_date}}</p>
            </div>

        </div>
         
        

    </div>
    <script src="./main.js"></script>
</body>
</html>