
div#app > nav{

   background-color:lightslategrey;
   padding: 10px;
   margin: 0;
  
}

div#app > nav > span{

    font-size: x-large;
    margin-left: 30px;
    font-weight: bold;
}

.newdate{

    margin-left: 900px;
    
}

.polaroid{

    float: left;
    width: 210px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.content{   
    
    font-size:12px;
    padding: 0px 10px 1px;
    margin-top: 1%;
    margin-bottom: 10%;
    line-height: 0.5;
}

.Imgsize{
    
    width: 200px;
    height:180px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 8px;
    background-size: cover;
}
.pagesB{

    position: fixed;
    bottom: 10px;
    left: 43%;
}

.Button{

    font-size: 50x;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: seashell;
}

.description{

    margin:20px;
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: red;
}

